.header{background-color: black;color: lightpink;
height: 50px;}
.nav{ background-color:greenyellow ;color: blue;
height: 100px;}
.main{background-color: lightblue;
height: 700px;}
.footer{background-color: aquamarine;color: crimson;
height: 200PX;}