.page{
    width: 1000px;
    margin: 0 auto;
}

.row{
    overflow: hidden;
    margin-bottom: 30px;
    }
    .column{
        float: left;
        box-sizing: border-box;
        border: 1px solid black;
    }
    .width50{
        width: 50%;
    }
    .width33{
        width: 33.3%;
    }
    .width25{
        width: 25%;
    }
    .width75{
        width: 75%;
    }
    .width60{
        width: 60%;
    }
    .width40{
        width: 40%;
    }
.r1c1{
    padding: 20px;
    width: calc(50% - 40px);

}
.r1c2{
    text-align: center;
    background-color: aqua;
    margin: 119px 0;
}
.imgsample{
    width: 180px;
    border-radius: 10px;
    text-align: center;

}
    