.left{
    width: 500px;
    height: 500px;
    border: 1px solid black;
    
}
.right{
    width: 500px;
    height: 500px;
    border: 1px solid black;
}
.content{
    float: left;
    text-align: center;
    color: blue;
}

    

@media  and ( max-width: 767px) {  .left{
    
    }

}